{% extends 'traffic/layout.html' %}

{% block title %}
Текущая загруженность дорог
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'home' %}">Домой</a>
  {% if traffics %}
        {% for el in traffics %}
            <div>
{#            el.road_segment#}
                <a href="{% url 'traffic_detail' el.id %}">{{ el.road_segment }}</a>
                - {{ el.congestion_type.name }}
                (обновлено: {{ el.last_updated }})
            </div>
        {% endfor %}
    {% else %}
        <p>Нет записей!</p>
    {% endif %}
</div>
{% endblock %}